<%= bootstrap_form_with(model: escape_game, local: true, class: 'w-100') do |form| %>
<% if escape_game.errors.any? %>
<div id="error_explanation" class="alert alert-warning">
  <h2><%= t("activerecord.errors.template.header.#{escape_game.errors.count > 1 ? 'other' : 'one'}", count: escape_game.errors.count, model: 'escape game') %></h2>

  <ul>
    <% escape_game.errors.full_messages.each do |message| %>
    <li>
      <%= message %>.
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.text_field :name %>
</div>

<div class="field">
  <%= form.select :genre,
        EscapeGame.genres.keys.map(&:humanize).zip(EscapeGame.genres.keys),
        {},
        { control_class: 'custom-select' }
        %>
</div>

<%= %>

<div class="field">
  <%= form.text_field :summary, help: 'Sum up the story and appeal of your escape room in 140 characters or less.' %>
</div>

<div class="field">
  <%= react_component 'atoms/MarkdownField', initialContent: escape_game.description %>
</div>

<div class="field">
  <%= form.select :difficulty_level,
        EscapeGame.difficulty_levels.keys.map(&:humanize).zip(EscapeGame.difficulty_levels.keys),
        {},
        { control_class: 'custom-select' }
        %>
</div>

<div class="field">
  <%= form.number_field :available_time, help: 'How much time (in minutes) do you allow for
  participants to complete the room?', min: 0, placeholder: 'Time (minutes)' %>
</div>

<div class="field">
  <%= form.text_field :website_link, help: 'If you have a website or social media, link to it here.' %>
</div>

<%= react_component 'atoms/ReactPlacesAutocomplete', initialPlace: {
  lat: escape_game.latitude,
  lng: escape_game.longitude,
  placeId: escape_game.place_id
} %>

<noscript>
  <div class="field">
    <%= form.text_field :place_id, label: 'Google Maps Place ID' %>
  </div>

  <div class="field">
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.text_field :longitude %>
  </div>
</noscript>

<div class="field">
  <%= form.hidden_field :user_id %>
</div>

<div class="field">
  <table class="table">
    <tr>
      <th>Image</th>
      <th>Remove?</th>
    </tr>
    <% escape_game.images.each do |image| %>
    <% next unless image.id %>
    <tr>
      <td>
        <%= image_tag  url_for(image), class: "img-fluid", style: "max-height: 100px" %>
      </td>
      <td>
        <%= link_to "Set as Default", escape_game_default_image_path(escape_game, image),
                    method: :put,
                    remote: true,
                    class: "default_image btn btn-primary"
                %>
        <%= link_to "Remove", escape_game_image_path(escape_game, image),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    remote: true,
                    class: "remove-image btn btn-danger"
                %>
      </td>
    </tr>
    <% end %>
  </table>
  <% if escape_game.images.select(&:id).count < 4 %>
  <%= form.file_field :images, multiple: true %>
  <% end%>
</div>

<% if @escape_game.images.attached? %>
<% @escape_game.images.each do |image| %>
<% next unless image.id %>
<%= form.hidden_field :images, multiple: true, value: image.signed_id %>
<% end %>
<% end %>

<div class="d-flex flex-row">
  <div class="field">
    <%= form.check_box :visible,
                        custom: true,
                        label: 'Make this escape room publicly visible across the site' %>
  </div>

  <div class="actions ml-auto">
    <%= form.submit %>
  </div>
</div>

<% end %>