<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      <div class="w-100 d-flex">
        <h1 class="escape-game-name">
          <%= @escape_game.name %>
        </h1>

        <div class="ml-auto d-flex align-items-center mb-1">
          <%= react_component(
        "atoms/EscapeGameMetadata",
        {
          id: @escape_game.id,
          difficultyLevel: @escape_game.difficulty_level,
          availableTime: @escape_game.available_time,
          genre: @escape_game.genre,
          location: {
            latitude: @escape_game.latitude,
            longitude: @escape_game.longitude,
            place_id: @escape_game.place_id
          }
        }, { tag: 'h4', class: 'mr-2 mb-0' }
        )%>
          <%= react_component(
        "atoms/ClearButton",
        {
          cleared: cleared?,
          escapeGameId: @escape_game.id,
          authenticity_token: form_authenticity_token,
          stateColors: ['secondary', 'success']
          }) %>
        </div>
      </div>

      <p class="escape-game-summary">
        <%= @escape_game.summary %>
      </p>

      <%=  Redcarpet::Markdown.new(
            Redcarpet::Render::HTML.new(filter_html: true),
            autolink: true,
            strikethrough: true,
            tables: true
            ).render(@escape_game.description).html_safe %>

      <% if @escape_game.website_link %>
      <%= link_to 'Website', @escape_game.website_link %>
      <% end %>

      <div class="d-flex justify-content-center" style="min-height: 18em">
        <% unless @escape_game.place_id.empty? %>
        <iframe frameborder="0" class="flex-grow-1" style="border:0; height: inherit; flex-basis: 50%" src="https://www.google.com/maps/embed/v1/place?key=<%= GOOGLE_MAPS_EMBED_API_KEY %>&q=place_id:<%= CGI.escape(@escape_game.place_id) %>" allowfullscreen>
        </iframe>
        <% end %>
        <% if @escape_game.images.attached? %>
        <%= react_component 'atoms/ImageCarousel', {
            items: @escape_game.images.map { |image| {src: url_for(image)} },
          }, class: 'flex-grow-1', style: 'flex-basis: 50%'
            %>
        <% end%>
      </div>
    </div>
  </div>

  <% if @related_escape_games.any? %>
  <h2>You may also enjoy...</h2>
  <%= react_component 'atoms/ExploreList',
      escapeGames: @related_escape_games,
      authenticity_token: form_authenticity_token
      %>
  <% end %>

  <%= link_to 'Edit', edit_escape_game_path(@escape_game) %> |
  <%= link_to 'Back', escape_games_path %>
</div>