<div class="container">
    <%= react_component(
      "atoms/ClearButton",
      {
        cleared: cleared?,
        escapeGameId: @escape_game.id,
        authenticity_token: form_authenticity_token,
        stateColors: ['secondary', 'success']
        }) %>
    <p>
        <strong>Name:</strong>
        <%= @escape_game.name %>
    </p>

    <p>
        <strong>Genre:</strong>
        <%= @escape_game.genre %>
    </p>

    <p>
        <strong>Summary:</strong>
        <%= @escape_game.summary %>
    </p>

    <p>
        <strong>Description:</strong>
        <%= @escape_game.description %>
    </p>

    <p>
        <strong>Difficulty level:</strong>
        <%= @escape_game.difficulty_level %>
    </p>

    <p>
        <strong>Available time:</strong>
        <%= @escape_game.available_time %>
    </p>

    <p>
        <strong>Website link:</strong>
        <%= @escape_game.website_link %>
    </p>

    <p>
        <strong>Place:</strong>
        <%= @escape_game.place_id %>
    </p>

    <p>
        <strong>Latitude:</strong>
        <%= @escape_game.latitude %>
    </p>

    <p>
        <strong>Longitude:</strong>
        <%= @escape_game.longitude %>
    </p>

    <p>
        <strong>Visible:</strong>
        <%= @escape_game.visible %>
    </p>

    <p>
        <strong>User:</strong>
        <%= @escape_game.user_id %>
    </p>

    <p>
        <strong>Cleared by:</strong>
        <%= @escape_game.clears.count %>
    </p>

    <div>
        <% @escape_game.images.each do |image| %>
        <%= image_tag  url_for(image), class: "img-fluid" %>
        <% end %>
    </div>

    <h2>You may also enjoy...</h2>
    <%= react_component 'atoms/ExploreList',
        escapeGames: @related_escape_games,
        authenticity_token: form_authenticity_token
        %>

    <%= link_to 'Edit', edit_escape_game_path(@escape_game) %> |
    <%= link_to 'Back', escape_games_path %>
</div>