<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      <div class="w-100 d-flex align-items-center">
        <h1 class="escape-game-name mr-auto h-100">
          <%= @user.nickname %>
        </h1>
        <span class="bg-primary rounded p-2 text-light">
          <%= react_component 'atoms/Count',
              iconName: 'lock',
              count: @user.escape_games.count
              %>
        </span>
        <span class="ml-2 bg-primary rounded p-2 text-light">
          <%= react_component 'atoms/Count',
              iconName: 'lock-open',
              count: @user.clears.count
              %>
        </span>
        <%= react_component 'atoms/Avatar',
            avatar: url_for(@user.avatar),
            className: 'ml-2 mb-1',
            height: '3em'
            %>
      </div>

      <p class="escape-game-summary">
        <%= @user.bio && (@user.location || @user.website) ? "#{@user.bio} |" : @user.bio %>
        <%= @user.location && @user.website ? "#{@user.location} |" : @user.location %>
        <%= link_to @user.website, @user.website %>
      </p>
      <div class="card-deck">
        <% if @user.maintainer %>
        <div class="card">
          <div class="card-body d-flex align-items center">
            <span>
              Owns
              <b><%= pluralize(@user.escape_games.count, 'escape game') %></b>
            </span>
          </div>
        </div>
        <% end %>
        <% if @user.enthusiast %>
        <div class="card">
          <div class="card-body d-flex align-items center">
            <span>
              <b><%= pluralize(@user.clears.count, 'game') %></b> cleared
              <%= link_to 'View', clears_path(@user), class: "btn btn-primary" %>
            </span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if @related_escape_games.any? %>
    <h2>Escape games by this maintainer</h2>
    <%= react_component 'atoms/ExploreList',
      escapeGames: @related_escape_games,
      authenticity_token: form_authenticity_token
      %>
  <% end %>
</div>