<%= react_component 'atoms/OnboardingModal', signedIn: current_user, onboarded:
current_user&.onboarded?, authenticityToken: form_authenticity_token %>
<div class="jumbotron mb-0">
  <h2 class="d-flex bg-info text-light p-3 rounded">
    <%= react_component 'atoms/FontAwesomeIcon', icon: 'exclamation-circle',
    className: 'mr-2' %>
    Let's get started!
  </h2>
    <% if current_user %>
      <% if !current_user.onboarded? %>
        <div class="d-flex flex-column align-items-center">
            <%= button_to('I\'m a maintainer!', make_user_maintainer_path(current_user), method: :post, class: 'btn btn-primary mr-md-2 mb-2') %>
            <%= button_to('I\'m an enthusiast!', make_user_enthusiast_path(current_user), method: :post, class: 'btn btn-primary mr-md-2 mb-2') %>
            <%= button_to('I\'m both!', make_maintainer_and_enthusiast_path(current_user), method: :post, class: 'btn btn-primary mb-2') %>
        </div>
      <% else %>
        <% if current_user.maintainer %>
          <h3>Your escape rooms</h3>
          <p>Perhaps you want to...</p>
          <ul> 
            <li>
              <%= link_to 'update one of your existing listings?', escape_games_path %>
            </li>
            <li>
              <%= link_to 'create a new listing?', new_escape_game_path %>
            </li>
          </ul>
        <% end %>
        <% if current_user.enthusiast %>
          <h3>Begin your quest</h3>
          <p>Perhaps you want to...</p>
          <ul> 
            <li>
              <%= link_to 'find a new escape room to tackle?', explore_path %>
            </li>
            <li>
              <%= link_to 'show someone your profile?', current_user %>
            </li>
            <li>
              <%= link_to 'show someone your image gallery?', clears_path(user_id: current_user.id) %>
            </li>
          </ul>
        <% end %>
      <% end %>
    <% else %>
    <% end %>
</div>
<div class="row mx-0 flex-grow-1 text-center">
  <div class="col-md bg-info text-light p-5 d-flex flex-column justify-content-center">
    <%= react_component 'atoms/FontAwesomeIcon', icon: 'running', size: '4x',
    className: 'pb-3' %>
    <h2>Find your escape</h2>
    <p>
      Blacklight helps you find the next escape room you'd like to challenge.
    </p>
    <p>
      Whether you've got specific access requirements or you're just hungry
      for a challenge, Blacklight will reveal your next adventure.
    </p>
  </div>
  <div class="col-md bg-secondary text-light p-5 d-flex flex-column justify-content-center">
    <%= react_component 'atoms/FontAwesomeIcon', icon: 'lock-open', size: '4x',
    className: 'pb-3' %>
    <h2>Crack the locks...</h2>
    <p>
      If you're a fan of escape rooms, this is the place to be!
    </p>
    <p>
      Explore the selection of escape rooms listed on the site to track down
      your next big heist. 
    </p>
    <p>
      Show your records to the world over on your public
      profile.  
    </p>
    <p>
      Add some photos after the job's done and the mystery's solved!
    </p>
  </div>
  <div class="col-md bg-primary text-light p-5 d-flex flex-column
  justify-content-center">
    <%= react_component 'atoms/FontAwesomeIcon', icon: 'lock', size: '4x',
    className: 'pb-3' %>
    <h2>...or make them yourself</h2>
    <p>
      If you own an escape room, Blacklight's got your back!
    </p>
    <p>
      List your escape room on the site in all its detail.
    </p>
    <p>
      Check out who's cleared it.
    </p>
    <p>
      Encourage your groups to record their trials on Blacklight!
    </p>
  </div>
  
</div>