<%= react_component 'atoms/OnboardingModal', signedIn: current_user, onboarded:
current_user&.onboarded?, authenticityToken: form_authenticity_token %>
<div class="jumbotron mb-0">
  <div class="row text-center">
    <h2 class="col-12">
        <%= react_component 'atoms/FontAwesomeIcon', icon: 'exclamation-circle',
      className: 'mr-2' %>
      Let's get started!
      <% if current_user.nil? %>
        <small class="d-block">Like what you see? Sign up whenever you're ready!</small>
        <small class="d-block">Already with us? Log in here.</small>
        <%= react_component 'atoms/LoginButton', authenticityToken: form_authenticity_token %>
      <% end %>
    </h2>
    <% if current_user&.maintainer %>
    <div class="col-md d-flex flex-column mb-2 mb-md-0">
      <div class="card card-body flex-grow-1">
      <h3>Your escape rooms</h3>
      <p>Perhaps you want to...</p>
      <ul>
        <li>
          <%= link_to 'update one of your existing listings?', escape_games_path %>
        </li>
        <li>
          <%= link_to 'create a new listing?', new_escape_game_path %>
        </li>
      </ul>
    </div>
    </div>
    <% end %>
    <% if current_user&.enthusiast %>
    <div class="col-md d-flex flex-column">
      <div class="card card-body flex-grow-1">
      <h3>Begin your quest</h3>
      <p>Perhaps you want to...</p>
      <ul>
        <li>
          <%= link_to 'find a new escape room to tackle?', explore_path %>
        </li>
        <li>
          <%= link_to 'show someone your profile?', current_user %>
        </li>
        <li>
          <%= link_to 'show someone your image gallery?', clears_path(user_id: current_user.id) %>
        </li>
      </ul>
    </div>
    </div>
    <% end %>
  </div>
</div>
<div class="row mx-0 flex-grow-1 text-center">
  <div class="col-md bg-info text-light p-5 d-flex flex-column justify-content-center">
    <%= react_component 'atoms/FontAwesomeIcon', icon: 'running', size: '4x',
    className: 'pb-3' %>
    <h2>Find your escape</h2>
    <p>
      Blacklight helps you find the next escape room you'd like to challenge.
    </p>
    <p>
      Whether you've got specific access requirements or you're just hungry
      for a challenge, Blacklight will reveal your next adventure.
    </p>
  </div>
  <div class="col-md bg-secondary text-light p-5 d-flex flex-column justify-content-center">
    <%= react_component 'atoms/FontAwesomeIcon', icon: 'lock-open', size: '4x',
    className: 'pb-3' %>
    <h2>Crack the locks...</h2>
    <p>
      If you're a fan of escape rooms, this is the place to be!
    </p>
    <p>
      Explore the selection of escape rooms listed on the site to track down
      your next big heist.
    </p>
    <p>
      Show your records to the world over on your public
      profile.
    </p>
    <p>
      Add some photos after the job's done and the mystery's solved!
    </p>
  </div>
  <div class="col-md bg-primary text-light p-5 d-flex flex-column
  justify-content-center">
    <%= react_component 'atoms/FontAwesomeIcon', icon: 'lock', size: '4x',
    className: 'pb-3' %>
    <h2>...or make them yourself</h2>
    <p>
      If you own an escape room, Blacklight's got your back!
    </p>
    <p>
      List your escape room on the site in all its detail.
    </p>
    <p>
      Check out who's cleared it.
    </p>
    <p>
      Encourage your groups to record their trials on Blacklight!
    </p>
  </div>

</div>