<%= bootstrap_form_with(model: clear, local: true) do |form| %>
<% if clear.errors.any? %>
<div id="error_explanation" class="alert alert-warning">
  <h2><%= t("activerecord.errors.template.header.#{clear.errors.count > 1 ? 'other' : 'one'}", count: clear.errors.count, model: 'completion record') %></h2>

  <ul>
    <% clear.errors.full_messages.each do |message| %>
    <li>
      <%= message %>.
    </li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <table class="table">
    <tr>
      <th>Image</th>
      <th>Remove?</th>
    </tr>
    <% clear.images.each do |image| %>
    <% next unless image.id %>
    <tr>
      <td>
        <%= image_tag  url_for(image), class: "img-fluid", style: "max-height: 100px" %>
      </td>
      <td>
        <%= link_to "Remove", clear_image_path(clear, image),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      remote: true,
                      class: "remove-image btn btn-danger"
                  %>
      </td>
    </tr>
    <% end %>
  </table>
  <% if @clear.images.select(&:id).count < 4 %>
    <%= form.file_field :images, multiple: true %>
  <% end %>
</div>

<% if @clear.images.attached? %>
<% @clear.images.each do |image| %>
<% next unless image.id %>
<%= form.hidden_field :images, multiple: true, value: image.signed_id %>
<% end %>
<% end %>

<div class="actions">
  <%= form.submit %>
</div>
<% end %>