<!DOCTYPE html>
<html>

<head>
    <title>Blacklight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'stylesheets/application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="container-fluid d-flex flex-column px-0" style="min-height: 100vh;">
    <%= react_component(
      "atoms/NavBar",
      {
        loggedIn: user_signed_in?,
        username: current_user&.nickname,
        currentPage: "Hello from react-rails.",
        loginButton: (!user_signed_in? ?
          button_to('Login', user_auth0_omniauth_authorize_path, method: :post, class: 'btn btn-primary') :
          link_to('Logout', destroy_user_session_path, class: 'btn btn-primary'))
        }) %>
    <main class="container flex-grow-1">
        <% if (notice || alert) %>
        <div class="my-3">
            <%= notice ? react_component('atoms/Alert', { type: 'info', content: notice }) : '' %>
            <%= alert ? react_component('atoms/Alert', { type: 'danger', content: alert }) : '' %>
        </div>
        <% end %>
        <%= yield %>
    </main>
    <footer class="container-fluid px-0 py-3 bg-light">
        <div class="container">
            Placeholder copyright string
        </div>
    </footer>
</body>

</html>