<!DOCTYPE html>
<html>

<head>
    <title>Blacklight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'stylesheets/application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="container-fluid d-flex flex-column px-0" style="min-height: 100vh;">
    <%= react_component(
      "atoms/NavBar",
      {
        isMaintainer: current_user&.maintainer,
        isEnthusiast: current_user&.enthusiast,
        username: current_user&.nickname,
        userId: current_user&.id,
        currentPage: "Hello from react-rails.",
        loginButton: (!user_signed_in? ?
          button_to('Login', user_auth0_omniauth_authorize_path, method: :post, class: 'btn btn-primary') :
          link_to('Logout', destroy_user_session_path, class: 'btn btn-primary'))
        }) %>
    <main class="d-flex flex-column w-100 flex-grow-1">
        <% if (notice || alert) %>
        <div class="my-3">
            <%= notice ? react_component('atoms/Alert', { type: 'info', alert: notice }) : '' %>
            <%= alert ? react_component('atoms/Alert', { type: 'danger', alert: alert }) : '' %>
        </div>
        <% end %>
        <%= yield %>
    </main>
    <footer class="container-fluid px-0 py-3 bg-light">
        <div class="container">
            Placeholder copyright string
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>