<!DOCTYPE html>
<html>

<head>
    <title>Blacklight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= GOOGLE_MAPS_EMBED_API_KEY %>&libraries=places"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'stylesheets/application' %>
    <%= render 'application/favicon' %>
</head>

<body class="container-fluid d-flex flex-column px-0" style="min-height: 100vh;" data-theme="<%= params[:theme] %>">
    <%= react_component(
      "atoms/NavBar",
      {
        isMaintainer: current_user&.maintainer,
        isEnthusiast: current_user&.enthusiast,
        username: current_user&.nickname,
        userId: current_user&.id,
        currentPage: "Hello from react-rails.",
        logoPath: asset_path('logo.svg'),
        authenticityToken: form_authenticity_token,
        loginButton: (!user_signed_in? ?
          button_to('Login', user_auth0_omniauth_authorize_path, method: :post, class: 'btn btn-primary') :
          link_to('Logout', destroy_user_session_path, class: 'btn btn-primary'))
        }) %>
    <main class="d-flex flex-column w-100 flex-grow-1" style="padding-top: 56px;">
        <% if (notice || alert) %>
          <%= notice ? react_component('atoms/Alert', { type: 'info', alert: notice }) : '' %>
          <%= alert ? react_component('atoms/Alert', { type: 'danger', alert: alert }) : '' %>
        <% end %>
        <%= yield %>
    </main>
    <footer class="container-fluid px-0 py-3 bg-light">
        <div class="container">
            &#169; 2020<%= "-#{Time.zone.now.year}" if Time.zone.now.year > 2020
            %> <a href="https://simon.fish">Simon Fish</a>
        </div>
    </footer>
</body>

</html>
